html {
	 height: 100%;
	 overflow: hidden;
}

/* 
 *	Font:		Perfect DOS VGA 437
 *	Author:		Zeh Fernando (@zeh)
 * 	Website:	http://www.dafont.com/perfect-dos-vga-437.font
 *
 */

@font-face {
    font-family: 'DOS_2';
    src: url('font/DOS_2.ttf');
}

body {
	margin:  0;
	padding: 0;
	height: 100%;
	background-color: #CCC;
	font-family: 'DOS_2', sans-serif;
}

canvas {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}

.container {
	position: absolute;
	top: 24px;
	left: 24px;
	z-index: 99;
}

footer {
	position: absolute;
	bottom: 12px;
	left: 24px;	
	z-index: 98;
}

/*
header, section, footer {
	
}
*/

header {
	margin-bottom: 24px;
}

h1 {
	font-weight: normal;
	font-size: 64px;
	color: white;
}

li {
	display: inline-block;
	font-size: 22px;
	margin-bottom: 12px;

	background-color: black;
	background-color: rgba(0,0,0,0.8);
	padding: 12px;
}

a { text-decoration: none; color: white;}

.description li {
	font-size: 24px;
	background-color: white;
	background-color: rgba(255,255,255,0.8);
	color: black;
}

.description li span {
	padding-right: 20px;
	background-image: url('../img/block.gif');
	background-repeat:no-repeat;
	background-position: right center; 
}

footer a {
	background-color: black;
	background-color: rgba(0,0,0,0.8);
	color: white;
	text-decoration: none;
	padding: 12px;
	font-size: 22px;
}

